.avatar{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background: #FFF;
}
.avatar__img{
  border-radius: 40px;
}
.Avatar__Img--is-online{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: #71CD50;
}
.Avatar__Img--is-offline{
  visibility: hidden;
}